[Unit]
Description=voucher shop app
After=network-online.target

[Service]
Type=simple
User={{app_user}}
ExecStart=/usr/bin/java -jar {{app_dest_dir}}/vouchershop.jar --server.port=8080
Restart=always

[Install]
WantedBy=multi-user.target